name: Build, Test and Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET 7
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.0.x'

    - name: Restore dependencies

      run: dotnet restore projekt-CRUD-Kyryl-Movchan.sln

    - name: Build
      run: dotnet build projekt-CRUD-Kyryl-Movchan.sln --no-restore 

    - name: Test

      run: dotnet test --no-build

  deploy-to-render:

    needs: build-and-test 
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Deploy
        run: curl "${{ secrets.RENDER_DEPLOY_HOOK }}"